@mixin overflow-auto($direction: 'both') {
  @if $direction == 'both' {
    overflow: auto;
  } @else {
    overflow-#{$direction}: auto;
  }
  -webkit-overflow-scrolling: touch;
}

$blue: #2196f3;
$blue-dark: #1565c0;

.dom {
  padding-bottom: 40px;
  .dom-tree {
    @include overflow-auto(y);
    overflow-x: hidden;
    word-wrap: break-word;
    padding: 10px 10px 10px 25px;
    font-size: 12px;
    height: 100%;
    font-family: Consolas, Lucida Console, Monaco, MonoSpace;
    cursor: default;
    & * {
      user-select: text;
    }
    .tree-item {
      position: relative;
      z-index: 10;
      .toggle-btn {
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        left: -12px;
        top: 2px;
      }
      .selection {
        position: absolute;
        display: none;
        left: -10000px;
        right: -10000px;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: #2196f3;
      }
      &.selected {
        color: #fff !important;
        span {
          color: #fff !important;
        }
        &.expandable:before {
          border-left-color: #fff;
        }
        &.expandable.expanded:before {
          border-top-color: #fff;
          border-left-color: transparent;
        }
        .selection {
          display: block;
        }
      }
      .html-tag {
        color: rgb(168, 148, 166);
        .tag-name {
          color: rgb(136, 18, 128);
        }
        .attribute-name {
          color: rgb(153, 69, 0);
        }
        .attribute-value {
          color: rgb(26, 26, 166);
        }
      }
      .html-comment {
        color: rgb(35, 110, 37);
      }
      &.expandable:before {
        content: '';
        width: 0;
        height: 0;
        border: 4px solid transparent;
        position: absolute;
        border-left-color: #707d8b;
        left: -10px;
        top: 4px;
      }
      &.expandable.expanded:before {
        border-top-color: #707d8b;
        border-left-color: transparent;
        left: -12px;
        top: 6px;
      }
    }
    .children {
      padding-left: 15px;
    }
  }
  .inspect {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    background: $blue;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    transition: background 0.3s;
    &:active {
      background: $blue-dark;
    }
  }
}
