@mixin overflow-auto($direction: 'both') {
  @if $direction == 'both' {
    overflow: auto;
  } @else {
    overflow-#{$direction}: auto;
  }
  -webkit-overflow-scrolling: touch;
}

.dom {
  .dom-tree {
    @include overflow-auto();
    padding: 10px 10px 10px 25px;
    font-size: 12px;
    height: 100%;
    font-family: Consolas, Lucida Console, Monaco, MonoSpace;
    .tree-item {
      position: relative;
      .html-tag {
        color: rgb(168, 148, 166);
        .tag-name {
          color: rgb(136, 18, 128);
        }
        .attribute-name {
          color: rgb(153, 69, 0);
        }
        .attribute-value {
          color: rgb(26, 26, 166);
        }
      }
      .html-comment {
        color: rgb(35, 110, 37);
      }
      &.expandable:before {
        content: '';
        width: 0;
        height: 0;
        border: 4px solid transparent;
        position: absolute;
        border-left-color: #707d8b;
        left: -10px;
        top: 4px;
      }
      &.expandable.expanded:before {
        border-top-color: #707d8b;
        border-left-color: transparent;
        left: -12px;
        top: 6px;
      }
    }
    .children {
      padding-left: 15px;
    }
  }
}
